<html>
<body style="font-size: calc(1vw + 2vh);background-color:black;">

<div style="width:50%;margin-left:25%; margin-right:auto;">
{% for przesylka in przesylki reversed %}

<div style="border: 1px solid red; border-radius:10px; padding: 10 10 10 10;margin-bottom:10px; background-color:gray;">
<p style="background-color: yellow; text-align:center;border-radius:10px;">{{ przesylka.uploaded_at }}</p>
<p style="color: red;text-align:center;">{{ przesylka.id }}</p>
<p style=" color: lime;text-align:center;font-size: calc(0.7vw + 1.4vh);"><b>{{ przesylka.pacjent }}</b></p>
<div style="background-color:black; width:100%;">
<p style="color: white;font-size: calc(0.7vw + 1.4vh); padding: calc(0.5vw + 1vh);">{{ przesylka.description }}</p>
</div>
<p style="font-size: calc(0.5vw + 1vh);padding: calc(0.5vw + 1vh);"><a href="/{{ przesylka.document }}">{{ przesylka.document }}</a></p>
<button onclick="wyslijcousunac({{ przesylka.id }});" style="font-size: calc(1vw + 2vh);">usuń wiadomość</button>
</div>

<br><br>
{% endfor %}
</div>

<script>

document.addEventListener("visibilitychange", handleVisibilityChange, false);
function handleVisibilityChange() {
  if (document.hidden != true) {
reload();
};
};


setInterval(function(){ reload(); }, 120000);

function reload() {
    location.reload();
}

function wyslijcousunac(wiadId) {


var xhr = new XMLHttpRequest();
var url = "https://cbrl.pythonanywhere.com/usunwiadomoscf/";
xhr.open("POST", url, true);
xhr.setRequestHeader("Content-Type", "application/json; charset=utf-8");
xhr.setRequestHeader("Data-Type", "json");
xhr.onreadystatechange = function () {
if (xhr.readyState === 4 && xhr.status === 200) {
        var json = JSON.parse(xhr.responseText);
        compare = json.info;
        alert(compare);
        location.reload();
}
}



var wartosciPol = JSON.stringify('{"usun": "' + wiadId + '"}');
xhr.send(wartosciPol);


}

</script>




</body>
</html>